.button {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid var(--clr-secondary);
}

.default {
  composes: button;
  background-color: var(--clr-light);
}

.dark {
  composes: button;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
}

.danger {
  composes: button;
  background-color: var(--clr-danger);
  color: var(--clr-light);
  border: 3px solid var(--clr-dark);
}
